{
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingCommas": {
    "object": true,
    "array": true,
    "function": false
  },
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
