:global {
  @import '~@fortawesome/fontawesome-free/css/all.min.css';
  @import '~bootstrap/dist/css/bootstrap.min.css';
  @import '~react-datepicker/dist/react-datepicker.css';
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext');

:root {
  --orange: #ec4c1d;
  --gray: #f6f6f6;
  --dark-gray: #333333;
  --default-color: #262626;
  --default-font-size: 17px;
  --default-font-family: 'Open Sans', arial;
}

* {
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  color: var(--default-color);
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
}

a {
  color: #fff;
}

a:hover {
  color: var(--default-color);
}

a.link {
  cursor: pointer;
}

a.underline {
  text-decoration: underline !important;
}

.line-through {
  text-decoration: line-through;
}

.white {
  color: #fff;
}

.orange-bg {
  background-color: var(--orange);
}

.gray-bg {
  background-color: var(--gray);
}

.dark-gray-bg {
  background-color: var(--dark-gray);
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 500;
}

.thin {
  font-weight: 300;
}

.form-control ,
.btn {
  border-radius: 0;
}

.btn-dark {
  background-color: #000;
}

.btn-orange {
  background-color: var(--orange);
  color: #fff;
}

.btn-orange:active ,
.btn-orange:hover {
  background-color: var(--orange);
  color: #fff;
}

.page-header {
  border-bottom: 1px solid #000;
}

.page-content .btn-cart ,
.page-header .btn {
  white-space: nowrap;
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  display: block;
}

.react-datepicker-wrapper input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

label em {
  font-style: normal;
  color: #de3341;
  margin: 0 0 0 5px
}
