.navigation .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #fff;
}

.navigation .nav-item:last-child {
  border-right: 0px;
}

.navigation .nav-item i.fa {
  margin-right: 10px;
}

.navigation .nav-item .nav-link {
  line-height: 50px;
}

.navigation .nav-item .nav-link.btn-nav-link {
  background: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.navigation .nav-item .nav-link.btn-nav-link:active ,
.navigation .nav-item .nav-link.btn-nav-link:hover {
  color: var(--dark-gray);
}

.user-card-navigation .btn.dropdown-toggle {
  margin: 0;
  line-height: 54px;
  background: transparent;
  border: 0;
  transition: 300ms;
}

.user-card-navigation .btn.dropdown-toggle img {
  border-radius: 100%;
  border: 2px solid var(--dark-gray);
  display: block;
  transition: 300ms;
  width: 40px;
  height: 40px;
  object-fit: contain;
  background: #fff;
}

.user-card-navigation .btn.dropdown-toggle:after {
  margin-left: 15px;
}

.user-card-navigation .show > .btn.dropdown-toggle:focus ,
.user-card-navigation .show > .btn.dropdown-toggle ,
.user-card-navigation .btn.dropdown-toggle:hover {
  background: var(--dark-gray);
  color: #fff;
}

.user-card-navigation .show > .btn.dropdown-toggle:focus img ,
.user-card-navigation .show > .btn.dropdown-toggle img ,
.user-card-navigation .btn.dropdown-toggle:hover img {
  border-color: #fff;
}

.user-card-navigation .dropdown-menu {
  margin: 0;
  width: 100%;
  border-radius: 0;
  border: 0;
  background: var(--dark-gray);
  padding-top: 0;
}

.user-card-navigation .dropdown-menu .dropdown-item {
  color: #fff;
  border-radius: 0;
  transition: 300ms;
}

.user-card-navigation .dropdown-menu .dropdown-item:active ,
.user-card-navigation .dropdown-menu .dropdown-item:focus {
  background: transparent;
}

.user-card-navigation .dropdown-menu .dropdown-item.active ,
.user-card-navigation .dropdown-menu .dropdown-item:hover {
  background: var(--orange);
}
