.user-card {
  background: #fff;
  border: 1px solid #f1f1f1;
}

.user-card img {
  display: block;
  width: 100%;
}

.user-card .nav > li:first-child {
  border-top: 1px solid #ccc;
}

.user-card .nav .nav-link {
  border-bottom: 1px solid #ccc;
  color: #000;
}

.user-card .nav .nav-link.active {
  background: var(--orange);
  color: #fff;
}

.user-information .form .form-group {
  display: flex;
  align-items: center;
}

.user-information .form .form-group label {
  width: 150px;
  margin: 0;
}

.user-information .form .form-group .form-control {
  width: calc(100% - 150px);
}
